body {
    background-color: lightblue
}
.special {
    background-color: indianred
}
:local(.spanTip){
    background-color: orangered
}
:local(.imagee) {
    height: 50px;
    width: 90px;
}