body {
  padding: 0 35px;
  font-size: 13px;
  padding-bottom: 35px;
}
.ft13 {font-size: 13px;}
.mb30 {margin-bottom: 30px;}
.mt50 {margin-top: 50px;}
.mt20 {margin-top: 20px;}
.mb20 {margin-bottom: 20px;}
.mt5 {margin-top: 5px;}
.p-xs {padding: 10px;}
.pb-md {padding-bottom: 20px;}
.pb-lg {padding-bottom: 50px;}
.mt-sm {margin-top: 5px;}
.dn{display:none;}
.di{display:inline;}
.db{display:block;}
.dib{display:inline-block;}
.tm {text-align:center}
.emphersize {
    color: lightseagreen
}
.bold {
  font-weight: bold;
}

.border-grey {
  border: 1px solid #ddd;
}
.color-white {
  color: white;
}

.comment {
  color: #cac2c2
}
h2.title {
  /*font-size: 1em*/
}
.wba {
  word-break: break-all
}
.font18 {
  font-size: 18px;
}